body {
    font-family: sans-serif;
}

#clock-box {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}


.hidden {
    opacity: 0;
}

input, button {
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
}
