body {
    text-align: center;
}

.traffic {
    border-radius: 50%;
    width: 260px;
    margin: auto;
    background: black;
    padding: 10px;
}

.light {
    width: 70px;
    height: 70px;

    background: gray;
    margin: 10px auto;
}

.redOn {
    background: red;
}

.yellowOn {
    background: yellow;
}

.greenOn {
    background: green;
}
