.travel-plan {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

ul.level1 {
    background-color: rgb(103, 158, 128);
    padding-right: 20px;
    padding-left: 50px;
}

ul.level2 {
    background-color: rgb(153, 180, 102);
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    padding-left: 40px;
}


span {
    display: inline-block;
    padding: 10px 20px;
}

.level1 > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
}

.level2 > li > span {
    background-color: rgb(218, 106, 32);
}


.level1 li {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 30px;
    padding-left: 40px;
}


.level2 li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px;
    padding-left: 40px;
}


.map {
    background-image: url("rule.png");
}

.plane {
    background-image: url("airplane_ticket.png");
}

.hotel {
    background-image: url("hotel.png");
}

.car {
    background-image: url("car_rental.png");
}

.bar {
    background-image: url("local_bar.png");
}

.casino {
    background-image: url("casino.png");
}

.museum {
    background-image: url("museum.png");
}

.festival {
    background-image: url("festival.png");
}

.preparation {
    background-image: url("rule.png");
}

.rest {
    background-image: url("rule.png");
}
