table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid white;
}


thead th {
    background-color: #d796e0;
    padding: 15px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}


thead th:nth-child(2) {
    background-color: #ca7dd6;
}

thead th:nth-child(3) {
    background-color: #bd64cc;
}

thead th:nth-child(4) {
    background-color: #b04bc2;
}

thead th:nth-child(5) {
    background-color: #a232b7;
    color: white;
}


tbody td {
    padding: 12px;


}


td:first-child {
    background-color: #b04bc2;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    border: 1px solid white;
}


td {
    padding: 12px;
    color: #2b1d55;
    border: 1px solid white;
}


tr:nth-child(odd) td:not(:first-child) {
    background-color: #d796e0;
}

tr:nth-child(even) td:not(:first-child) {
    background-color: #ca7dd6;
}
