* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F6FBFC;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-container {
    background: #f1d2d4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}


.tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 10;
}

.tab-btn {
    flex: 1;
    padding: 12px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #922858;
    transition: 0.3s;
}

.tab-btn.active {
    color: #4b3f72;
    border-bottom: 2px solid #4b3f72;
    font-weight: bold;
}

.auth-form {
    display: none;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 25px;
}


.auth-form.active-form {
    display: block;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}


.form-group input.valid, .form-group select.valid {
    border-color: #28a745;
}

.form-group input.invalid, .form-group select.invalid {
    border-color: #dc3545;
}

.error-text {
    color: #dc3545;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    min-height: 15px;
}

.password-group {
    position: relative;
}

.toggle-pwd {
    position: absolute;
    right: 10px;
    top: 32px;
    background: none;
    border: none;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-group input {
    width: auto;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #8B4252;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background: #56334B;
}

.success-message {
    color: #28a745;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
